#diagetic {
  position: fixed;
  top: 0;
  left: 0;
}

#main-content {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

main {
  color: rgb(255, 187, 0);
  /* background-color: black; */
}

#css {
  /* width: 100%;
  height: 100%; */
  position: fixed;
  top: 0; left: 0;
  z-index: -1;
}

.videocontainer{
  overflow: hidden;
  position: absolute;
  min-height: 100%;
  /*min-width: 3840px; */
  min-width: 100%;
  left: 50%;
  top: 50%;
    transform: translate(-50%, -50%);
  z-index: -1;
  margin: auto;


}

iframe {
  resize: none;
  position: absolute;
  overflow: hidden;
  /* Make video to at least 100% wide and tall 
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */

}